{% extends "base.html" %}

{% block content %}
<style>
    #task-list::-webkit-scrollbar {
        width: 8px;
    }

    #task-list::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    #task-list::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    #task-list::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }
</style>
<div class="w-1/2 p-4 border-r flex flex-col">
    <form id="task-form"
          hx-on::after-request="this.reset()"
          hx-post="/task/add"
          hx-target="#task-list"
          hx-swap="beforeend"
          class="mb-4">
        <div class="mb-2">
            <input type="text" name="title" placeholder="Title" class="border p-2 w-full">
        </div>
        <div class="mb-2">
            <textarea name="description" placeholder="Description" class="border p-2 w-full" rows="4"></textarea>
        </div>

        <button type="submit" class="bg-blue-500 text-white py-2 px-4">Add Task</button>
    </form>
    <div id="task-list" class="overflow-y-auto pr-2">
        {% for task in tasks %}
        {% include 'task_item.html' %}
        {% endfor %}
    </div>
</div>
<div class="w-1/2 p-4" id="task-detail">
    {% block task_detail %}{% endblock %}
</div>


{% endblock %}
