{% extends "base.html" %}

{% block content %}
<div class="w-1/2 p-4 border-r">
    <form id="task-form"
          hx-on::after-request="this.reset()"
          hx-post="/task/add"
          hx-target="#task-list"
          hx-swap="beforeend"
          class="mb-4">
        <div class="mb-2">
            <input type="text" name="title" placeholder="Title" class="border p-2 w-full">
        </div>
        <div class="mb-2">
            <input type="text" name="description" placeholder="Description" class="border p-2 w-full">
        </div>
        <button type="submit" class="bg-blue-500 text-white py-2 px-4">Add Task</button>
    </form>
    <div id="task-list">
        {% for task in tasks %}
        {% include 'task_item.html' %}
        {% endfor %}
    </div>
</div>
<div class="w-1/2 p-4" id="task-detail">
    {% block task_detail %}{% endblock %}
</div>


{% endblock %}
