<h2 class="text-xl font-bold">ID: {{ task.id }} - {{ task.title }}</h2>
<p class="mb-4 whitespace-pre-line">{{ task.description }}</p>

<form hx-post="/task/delete/{{ task.id }}"
      hx-target="#task-{{ task.id }}"
      hx-swap="outerHTML">
    <button type="submit" class="bg-red-500 text-white py-2 px-4">Delete Task</button>
</form>
<form hx-post="/task/update/{{ task.id }}"
      hx-target="#task-checkbox-{{ task.id }}"
      hx-swap="outerHTML" class="mt-4">
    <label class="flex items-center">
        <div id="task-checkbox-{{ task.id }}">
            {% include 'task_checkbox.html' %}
        </div>
        Completed
    </label>
</form>

